@inherits LayoutComponentBase
<div class="page">
	<main>
		<div class ="header">
			<div class="title">
				Portfolio
			</div>
			<div class="top-row">
				<NavMenu />
			</div>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
