.page {
    position: relative;
    display: flex;
    flex-direction: column;

	background: rgb(14, 14, 14);
}

main {
    flex: 1;
}

.top-row {
	position: fixed;
	z-index: 100;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.08);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    height: 3.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
	width: 100%;
}

	.top-row ::deep a, .top-row ::deep .btn-link {
		white-space: nowrap;
		margin-left: 1.5rem;
		text-decoration: none;
	}

	.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
		text-decoration: underline;
	}

	.top-row ::deep a:first-child {
		overflow: hidden;
		text-overflow: ellipsis;
	}
