<div class="Nav">
	
	<div class="title">
		Portfolio
	</div>

	<div class="nav-item">
		<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
			Home
		</NavLink>
	</div>
	<div class="nav-item">
		<NavLink class="nav-link" href="About" Match="NavLinkMatch.All">
			About
		</NavLink>
	</div>
	<div class="nav-item">
		<NavLink class="nav-link" href="Work" Match="NavLinkMatch.All">
			My Work
		</NavLink>
	</div>
</div>

@code {
	
}
