<div class="about-main">
	<div class="icon">
		<img src="Icon.png" alt="Image Icon" width="288" height="288"/>
	</div>
	<div>
		<h3>About</h3>
		<p class="main-text">
			@Content
		</p>
	</div>
</div>

@code {
	const string Content = 
		@"私は中学生の時からプログラミングに触れてきました。
		最初はスマホ版のマイクラのmodを作りました！
		当時の担任の先生に勧められ、ゲームプログラミングが学べる高校に入学しました。
		そこでは主にC言語の基礎やC言語を用いたゲームプログラミング、Unityの基礎を学びました。
		そして大学もゲーム学科に進学し、更に詳しいゲームのアルゴリズムを学び、
		個人的に数多くのゲームを開発しました！
		その後IT業界へ就職、プログラマとしてC++やC言語の経験を積んでいます。";
}
