<div class="buttonPrimary">
	<a href="@Href" target="@target">
		@Text
		<img src="images/icon/Link_Icon.svg" width="20" height="20" />
	</a>
</div>
@code {
    [Parameter]	public string Href { get; set; }
    [Parameter]	public string Text { get; set; }
    [Parameter] public string target { get; set; }
}

