<div class="contact">
	@foreach(var contact in _contact){
		<a href="@contact.Href" target="_blank" class="contact-link">
			<!-- <img src="@contact.Icon" width="32" height="32" /> -->
			@contact.Title
		</a>
	}
</div>

@code {
	private List<ContactList> _contact = new List<ContactList>
	{
		new ContactList{ Title = "Gmail", Icon = "", Href = "mailto:shido2910@gmail.com" },
		new ContactList{ Title = "Discode", Icon = "", Href = "https://discord.com/users/shido306" },
		new ContactList{ Title = "Twitter / X", Icon = "", Href = "https://x.com/shido306" },
	};

	public class ContactList{
		public string Title { get; set; }
		public string Icon { get; set; }
		public string Href { get; set; }
	}
}
