.technology {
	columns: 3;
}

.technology_child {
	display: flex;
	align-items: center;
	gap: 0.3rem;

	margin-bottom: 0.5rem;

	padding: 0.25rem 0.5rem;
	border-radius: 0.75rem;
	background: rgba(255,255,255,0.05);
	font-size: 0.9rem;
	color:white;
	backdrop-filter: blur(5px);

	width: 100%;
	justify-content: space-between;

	position: relative;

	transition: all 0.3s ease;
}

.technology_child:hover {
	background: rgba(235, 235, 235, 0.05);
	transform: translateY(-4px);
	box-shadow: 0 12px 40px rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
    .technology {
		columns: 2;
    }
}

@media (max-width: 500px) {
    .technology {
		columns: 1;
    }
}