@page "/"
@using Portfolio.Services
@using Portfolio.Models
@using Portfolio.Pages.Components
@inject ProjectServices projectServices

<PageTitle>Home</PageTitle>

<h1>shido's Portfolio</h1>

<p class="main-text">
	
</p>

<!-- 概要 -->
<section class="sction">
	<About />
</section>

<!-- プロジェクトセクション -->
<section class="sction">
	<h3>Recent Projects</h3>

	<!-- プロジェクトの表示 -->
	@foreach (var project in Projects)
	{
		<div class="column-home">
			<ProjectCard project="@project" />
		</div>
	}
	<!-- 全プロジェクトへのリンク -->
	<div class="nav-sction">
		<a href="/work">
			...and see more Projects!
		</a>
	</div>
</section>

<!-- テクノロジーセクション -->
<section class="sction">
	<!-- テクノロジーの表示 -->
	<TechnologiesList />
	<!-- 全プロジェクトへのリンク -->
	<div class="nav-sction">
		<p>
			...and many others!
		</p>
	</div>
</section>

<!-- 連絡先セクション -->
<section class="sction">
	<h3>Contact me</h3>
	<Contact />
</section>

@code {
    private List<Project> Projects;
    protected override void OnInitialized()
    {
        Projects = projectServices.GetProjects().Take(2).ToList();
    }
}
