/* プロジェクト一覧 */
.sction{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

	margin: 0 auto 6rem;
	width: 90vw;

	text-align: center;
	flex-direction: column;
}

.column-home{
	width: calc(100% - 8px);
}

.nav-sction{
	width: 100%;

	margin-top: 0.75rem;
}

.nav-sction a {
	text-align: center;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: 500;

	font-size: 2rem;
}