/* プロジェクト一覧 */
.project {
	margin: 0.75rem auto;
	width: 90vw;

	text-align: center;

	columns: 2;

	gap: 8px;
}

.column{
	width: 100%;
	grid-column: span 1 / span 1;
	margin-bottom: 0.5rem;
}

/* 画面が狭いと1列 */
@media (max-width: 800px) {
    .project {
		columns: 1;
    }
}